extends layout
block content
  .row.page.header
    .row
      .col-lg-6
        h1 
          | Historique pour 'nom donnée'
          small &nbsp;Date/heure - Lieu 
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-10.col-sm-4.list-group-item
          h4 #{datas_historic.temp}
        .col-xs-10.col-sm-4.list-group-item
          h4 afficher directement plusieurs grpahe ou demander à l'user ? &ebsp; #{datas_historic.date} 
        
    .col-xs-12.col-sm-4
      p.lead= sidebar