doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content 
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    // can be used by other templates (l'autre file utilisera les lignes ci-dessus) 
